* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Segoe UI';

}

li {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.menu ul {
    display: flex;
    gap: 10px;
}

.menu ul li {
    list-style: none;
}

.menu ul li span {
    padding: 5px;
}

.native {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    display: block;
    margin: 0;
    padding: 0;

}

.sub-logo {
    margin-top: -0px;
}

main {
    font-family: 'Segoe UI';
}

.first {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 23px;
    margin: 40px auto;
}

.first span {
    font-size: 45px;
    padding: 12px;
}

.first img {
    width: 100px;
    margin: 0 13px;
}

.first p {
    font-size: 23px;
    width: 68vw;
    text-align: center;
    padding: 13px;
}

.btn {
    background-color: #00b6d1;
    color: white;
    padding: 12px 20px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}
.btn a{
    text-decoration: none;
    color: white;
}

.green {
    background-color: #5cb85c;
    font-size: 12px;
    padding: 10px 30px;
}

.item {
    padding: 10px;
    background-color: #f9f9f9;
    font-size: 20px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 246px;
}

.item-lang {
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    padding-bottom: 25px;

}

.second {
    max-width: 68vw;
    margin: auto;
}

.small {
    font-size: 13px;
}

.item p {
  font-size: 9px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  width: 100%;
  padding: 12px;
}

.grid {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 33px;
    margin: 40px;
}

.download :nth-child(2) {
    font-size: 23px;
}

.download {
    display: flex;
    align-items: center;
    gap: 10px;
}

.download img {
    padding: 0px 12px;
}

.item small {
    font-size: 12px;
    margin-bottom: 23px;
}

@media screen and (max-width: 800px) {
    .grid {
        grid-template-columns: 1fr;
        text-align: center;
    }
}
